@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');
* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	overflow-x: hidden;
}

html {
	font-size: 62.5%;
} 

body {
	background-image:url("../img/fondo-elegante-textu_2221-8193.jpg") ;
	background-attachment: fixed;
}
/* titulos */
.titles {
	font-family: 'Open Sans', sans-serif;
	font-size: 4vh;
	font-weight:bold;
	color:#000; 
	text-align: center;
	overflow: hidden;
}
.titles1{
	font-family: 'Open Sans', sans-serif;
	font-size: 3.6vh;
	font-weight: bold;
	color:#fff; 
	text-align: center;
}
  /* header */
.imagenHeroe {
	width:100%;
	height:40rem;
	border:outset;
	border-color: #4334eb ;
	border-width: 0.1rem; 
	animation-name: imagenOp;
	animation-duration: 2s;
	}
/* Mapa */
.maps {
	width: 100%;
	height:50% ;
	margin: 0.5rem auto;
} 
/* suscripciones */
.fondo{
	background: linear-gradient( #012677e6,#00b4fc);
	border-style:solid;
	border-color: #4334eb;
	border-width: 0.1rem;
}
/* Footer */
.bgFoot{
	background-color:rgba(1, 38, 119, 0.902);
	width: 100%;
	
}
.bgFoot h6 a {
	font-family:'Open Sans', sans-serif;
	font-size: 2.8vh;
	text-decoration: none;
	color: rgb(248, 247, 250); 
	margin: auto;
	overflow: hidden;
}
.bgIcon{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}
.btnIcon{
	font-size: xx-large;
}
.textFooter{
		text-align: center;
		font-size: 2.6vh;
		font-family:'Roboto Mono', monospace;
		font-weight: 0.8vh;
		line-height: 3.2rem;
		color:#000;
}
.iconos{
	font-size: xx-large;
}
/* keyframes */
@keyframes imagenOp {
	0%{opacity: 0%;}
	100%{opacity: 100%;}
}
@keyframes deslizamiento{
	from{margin-left: 100%;}
	to{margin-left: 0%;}
}

/* PAG INDEX */
.backgroundColor{
	background-color:#012677e6;
}
#barraNav img{
	width: 14vw;
}
#barraNav a{
	font-family: 'Open Sans', sans-serif;
	font-size: 2.6vh;
	text-decoration: none;
	color: #fff;
	margin: auto;
}
#barraNav li{
	margin: 2vw;
}
.btnButton{
	background-color:#4334eb ;
	color:#ffffff;
	border-radius: 1.2rem;
	border-color: #ffffff;
	font-size: 3vh;
	font-family:'Open Sans', sans-serif;
	width: 100%;
}
button:hover{
	background-color:#00b4fc;
	cursor:pointer;
}

.btnHamb{
	background-color: #00b4fc;
	color: #ffffff;
}
/* PAG CONTACTO */
.divForm label{
	font-size: x-large;
}
.divForm input{
	height: 5vh;
}
button{
	background-color:#012677e6;
	color: white;
	border-color: gray;
	font-size: large;
	border-radius: 0.8rem;
}
.divForm textarea{
	font-size: x-large;
}
/* PAGINA COLOR CON BOOTSTRAP */
.divContenedor{
	padding-left: 8vw;
	animation-name: deslizamiento;
	animation-duration: 2s;
}
.divColores{
	width: 80%;
}
/* PAG QUIENES SOMOS */
.textNosotros{
		font-family:'Roboto Mono', monospace;
		font-size: 3.6vh;
		animation-name: imagenOp;
		animation-duration: 2s;
	}
.divAlert{
	background-color: #4334eb;
	border-radius:0.5vw;

}
.divAlert h4{
	font-size: xx-large;
	color: #ffffff;
	overflow: hidden;
}
.divAlert p{
	font-size: large;
	color: #ffffff;
}

/* PAG TELAS POR USO BOOTSTRAP */
.usos{
	font-size: 3vh;
	color: #ffffff;
	background-color: #4334eb;
	border-radius: 0.8vw;
	border-color:#00b4fc;
}
/* ---------------MEDIA QUERIES---------------*/
@media (min-width: 280px) and (max-width: 991px){
	#barraNav img{
		width:30vw !important
		}
	.btnHamb{
		font-size:xx-large;
	}
}
@media (min-width: 280px) and (max-width: 550px) {
	.btnHamb{
		font-size:large;
	}
}
@media (min-width: 992px) and  (max-width: 1130px) {
	#barraNav a{
		font-size: 2.2vh!important
}
}