.divContenedor{
	padding-left: 8vw;
}
.divColores{
	width: 80%;
		.card-body{
		background-color: $terciaryColor;
		h2{
		font-family: $primaryFont;
		font-size: $titleFont;
		color: $white;
		overflow: hidden;
		}
	}
}
