/* PAG CONTACTO */
.divForm {
    label{
	font-size: x-large;
        }
    input{
	height: 5vh;
        }
    textarea{
	font-size: x-large;
    }
    .btButton{
        @extend .btnButton;
        width: max-content;
        border: groove;
        border-radius: 1rem;
        border-color: $black;
        background-color: $terciaryColor;
    }
}