/* PAG TELAS POR USO BOOTSTRAP */
h1{
	@include titles(5vh,$black);
	overflow: hidden;
}
.buscador{
	background-color:$secondaryColor;
	margin: 2rem 4rem 4rem 0;
	border-radius: 1rem;
	width: max-content;
	overflow: hidden;
	h2{
		font-family: $primaryFont;
		font-size: $titleFont;
		margin-right: 2rem;
		overflow: hidden;
	}
	input{
		font-size: medium;
		width: max-content;
	}
	button{
		width: max-content;
	}
	}
	div{
		h2{overflow: hidden;}
	}