// QUIENES SOMOS
.contraste{
    background-color: rgba(128, 128, 128,0.8);
.textNosotros{
    font-family: $primaryFont;
    font-size: $titleFont2;
    color: $black;
    animation-name: imagenOp;
    animation-duration: 0.5s;
    margin: 1vh 1vw;
}
}
.divAlert{
	background: linear-gradient( $primaryColor, $secondaryColor);
    border-radius:0.5vw;
        h2{
        font-size: $titleFont;
        color: $white;
        overflow: hidden;
        }
        p{
            font-size: $titleFont2;
            color: $white;
            text-align: center;
            }
}
