<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pagina de erro 404">
    <meta name="keywords" content="erro,inicio">
	<link rel="shortcut icon" href="../img/favicon.png">
    <title>Todo telas Error 404</title>
	<!-- mi css -->
	<link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <img src="../img/Error-404.webp" alt="error 404" class="imgError">
        <div>
            <p class="errorText">
                Lo sentimos ha ocurrido un error.
            </p>
            <a class="volverButton" href="../index.html">
                Volver
            </a>
        </div>
</body>
</html>